@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.education-main {
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: "Montserrat", sans-serif;
    line-height: 2.5rem;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
}

.course {
    display: flex;
    margin: 30px 0;
        
}

.curso {
    color: #fff;
    margin-left: 20px;
    flex-wrap: wrap;
    font-size: 1.3rem;
}
.principal {
    display: flex;
    /* border: 2px solid #bbb; */
    width: 80%;
    height: 65%;
    
}

.container-education {
    color: #fff;
    margin: 20px 0;
    border: 3px solid #bbb;
    border-radius: 10px;
    margin-right: 20px;
    width: 33%;
    margin-left: 20px;
}

.links-education {
    list-style: none;
}

.links-education p {
    text-align: center;
    border-bottom: 2px solid #bbb;
    text-transform: uppercase;
    padding: 10px;
}

.links-education li {
    margin: 20px 10px 0 20px;
    font-size: 1.5em;
    text-align: center;
}

span {
    margin-right: 10px;
    color: crimson;
    font-weight: bold;
}

.links-education a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 3px solid darkred;
    padding: 1px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.links-education a:hover {
    border: 3px solid #bbb;
    color: darkred;
}

.voltar {
    display: flex;
    text-decoration: none;
    color: #fff;
    border: 3px solid #bbb;
    padding: 10px 20px;
    margin: 10px 80px 15px auto;
    text-transform: uppercase;
}
.voltar:hover {
    border: 5px solid darkred;
}

@media only screen and (max-width: 820px) and (min-width: 500px) {
    h1 {
        font-size: 2rem;
        padding-top: 50px;
    }

    .course p {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        justify-content: center;
    }

    .container-education {
        margin-left: -10px;
    }

    .links-education li {
        font-size: 0.8rem;
        margin-top: 18px;
    }

    .links-education a {
        font-size: 0.6rem;
    }

    
}

/* Mobile */
@media(max-width: 450px) {
    .principal {
        height: 57%;
    }

    .curso {
        margin-left: 50px;
    }

    .voltar {
        font-size: 2rem;
        margin-top: 10px;
    }

    .container-education {
        margin-left: -10px;
    }

    .container-education li {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9rem;
        justify-content: center;
    }

    .links-education a {
        font-size: 0.6rem;
    }

    span {
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
} 