/* Section 01 */  
  .demo .next {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: red;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo .next:hover {
    opacity: .5;
  }
  
  #section01 a {
    padding-top: 50px;
  }
  #section01 .next span {
    position: absolute;
    top: 0;
    bottom: -20vh;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 5s infinite;
    animation: sdb07 20s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section01 .next span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section01 .next span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section01 .next span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 2;
    }
    50% {
      opacity: 2;
    }
    100% {
      opacity: 2;
    }
  }

  /* Section 02 */
#section02 .next {
    padding-top: 80px;
  }
  #section02 .next span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb02 5s infinite;
    animation: sdb07 20s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section02 .next span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    top: 12vh;
  }
  #section02 .next span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    animation-delay: 0s;
    top: 10vh;
  }
  
  #section02 .next span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    top: 8vh;
  }
  
  
  @-webkit-keyframes sdb02 {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }  100% {
      opacity: 0.8;
    }
  }
  @keyframes sdb02 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  /* section 04 */
#section04 .next {
  padding-top: 80px;
}
#section04 .next span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb02 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section04 .next span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  top: 10vh;
}
#section04 .next span:nth-of-type(2) {
  top: 8vh;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section04 .next span:nth-of-type(3) {
  top: 6vh;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
  /* Section 03 */
#section03 .next {
    padding-top: 80px;
  }
  #section03 .next span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb02 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section03 .next span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    top: 10vh;
  }
  #section03 .next span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    top: 8vh;
  }
  #section03 .next span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    top: 6vh;
  }
  
  
  @-webkit-keyframes sdb02 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb02 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
@-webkit-keyframes sdb04 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb04 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Section 05 */
  #section05 a {
    padding-top: 80px;
  }
  #section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb02 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section05 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    top: 10vh;
  }
  #section05 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    top: 8vh;
  }
  #section05 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    top: 6vh;
  }
  
  
  @-webkit-keyframes sdb05 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Mobile */
 @media(max-width: 450px) {   
  .demo .next {
    left: 90%;
    color: red;
    transition: 1.3s;
    bottom: 5%;
  }
  .demo .next:hover {
    opacity: .5;
  }  
  
  #section01 .next span, 
  #section02 .next span, 
  #section03 .next span, 
  #section04 .next span, 
  #section05 .next span 
  {
    position: absolute;
    border-left: 5px solid red;
    border-bottom: 5px solid red;

  }
 }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 920px) and (min-width: 790px) {
  .demo .next {
    left: 90%;
    color: red;
    transition: 1.3s;
    bottom: 10%;
  }
  .demo .next:hover {
    opacity: .5;
  }  
  
  #section01 .next span, 
  #section02 .next span, 
  #section03 .next span, 
  #section04 .next span, 
  #section05 .next span 
  {
    border-left: 5px solid red;
    border-bottom: 5px solid red;
  }

  #section02 .next span:nth-of-type(1),
  #section03 .next span:nth-of-type(1),
  #section04 .next span:nth-of-type(1),
  #section05 .next span:nth-of-type(1) {
    bottom: 10vh;
  }
  #section02 .next span:nth-of-type(2),
  #section03 .next span:nth-of-type(2),
  #section04 .next span:nth-of-type(2),
  #section05 .next span:nth-of-type(2) {
    top: 16px;
    bottom: 8vh;
  }
  #section02 .next span:nth-of-type(3),
  #section03 .next span:nth-of-type(3),
  #section04 .next span:nth-of-type(3),
  #section05 .next span:nth-of-type(3) {
    top: 32px;
    bottom: 8vh;
  }
  
}