#section01 {
    background-image:
    linear-gradient(
      to right, 
      #ffffff,
      #ffffff 15%,
      #bbb 15%,
      #bbb 85%,
      #ffffff 85%
    );
    width: 98%;
    display: flex;
   justify-content: center;
}
/* Desktop */ 
#page01 {
    background: url(../img/tiago.png) center center / cover no-repeat;
    opacity: 0.8;
    width: 70%;
    height: auto;
 /* border: 5px solid #000000; */
 border-bottom: 5px solid #000000;
 /* estilo de posicionamento e largura*/
 display: block;
 padding-top: 5%;
}
   
#profissao {
    color: #3ba3d6;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
}


#nome {
    margin-top: 10%;
    font-size: 3em;
    color: #c1c3c5;
    white-space: nowrap;
    text-align: center;
}

#course01 {
    color: #15abe6;
    font-size: 2em;
    margin-top: 10%;
    font-weight: 300;
    text-align: center;
}

/* Mobile */
@media(max-width: 450px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 920px) and (min-width: 860px) {
    
}


