@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/skills.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
}

.container-main {
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    font-family: "Montserrat", sans-serif;
    line-height: 2.5rem;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
}

.container-main p {
    display: flex;
    color: darkred;
    margin: 10px 0;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
}

.principal {
    display: flex;
    margin-top: 20px;
    /* border: 2px solid #bbb; */
    width: 80%;
    justify-content: center;
}

.container-skills {
    /* border: 3px solid #bbb; */
    margin-right: 20px;
    width: 50%;
}

.container-skills p {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
}


.skills {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.links-skills {
    list-style: none;
}

i {
    font-size: 5rem;
    color: #fff;
    margin-right: 20px;
}

.links-skills li {
    display: flex;
    justify-content: center;
}

.links-skills a {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    color: #bbb;
    text-transform: uppercase;
    border: 3px solid darkred;
    margin: 20px 0;
    width: 70%;
    align-items: center;
    
}

.links-skills a:hover {
    border: 2px solid #bbb;
    color: darkred;
}


.voltar {
    display: flex;
    text-decoration: none;
    color: red;
    border-radius: 5px;
    font-size: 3rem;
    padding: 10px 20px;
    margin-top: -15vh;
    text-transform: uppercase;
    position: absolute;
    left: 80%;
}
.voltar:hover {
    background-color: darkred;
    color: #bbb;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 20px 20px;
    color: darkred;
    border: 2px solid #fff;
    border-radius: 5px;
}

.link:hover {
    color: #fff;
    border: 2px solid darkred;
}


@media only screen and (max-width: 820px) and (min-width: 500px) {
     .container-skills p {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }
}

/* Mobile */
@media(max-width: 450px) {
    .container-skills p {
        font-size: 1.3rem;
    }
    
    .voltar {
        font-size: 2rem;
    }
} 