@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/home.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
.container-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat", sans-serif;
    line-height: 2.5rem;
    font-size: 3em;
    color: #fff;
    padding: 40px 0;
    margin-top: -10vh;
    text-transform: uppercase;
}

#container ul {
    display: flex;
    margin-top: 40px;
    list-style: none;
    padding: 0 10px;   
    margin-top: -2vh;
    
}

#links a {
    color: #fffffc;
    text-decoration: none;
    margin-right: 10px;
    padding:  10px 10px 5px 10px;
    text-transform: uppercase;
    transition: .5s;
}

#links a:hover {
    border-bottom: 10px solid darkred;
}

/* Animação cubo */

  .cube {
    width: 300px;
    height: 300px;
  
    animation: rotate 25s infinite alternate;
    transform-style: preserve-3d;
  }
  
  .face {
    background: linear-gradient(45deg, #bbb,#8cc9c3cc);
    border: 2px solid #4fd1c5;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
  
    width: 200px;
    height: 200px;
    position: absolute;
  }
  
  .face--front {
    transform: translateZ(100px);
  }
  
  .face--right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .face--back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .face--top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(-20deg) rotateY(-10deg);
    }
  
    50% {
      transform: rotateX(20deg) rotateY(320deg);
    }
  
    to {
      transform: rotateX(-20deg) rotateY(-20deg);
    }
  }
  


/* Mobile */
@media(max-width: 450px) {

    h1 {
        font-size: 2rem;
    }
    #container ul {
        display: block;
        justify-content: center;
        border-top: transparent;
        border-bottom: transparent;
    }

#container li {
    border-bottom: 3px solid #bbb;
    padding: 10px 0;

}

    #links {
        font-size: 3rem;
        text-align: center;
    }
} 